<html>
  <head>
    
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
     
<table>
  <thead>
   <tr>

      Total:{{Total}}
        <input type="radio">
      
        Male:{{Male}}
        <input type="radio">

        Female:{{Female}}
        <input type="radio">
        
        <input type="radio" name="options" value="Total" [(ngModel)]='selectedEmployee' (change)='OnSelectedRadioButton()'/>
        <span class="radioClass">{{"Total("+Total+"}"}}</span>
        
        <input type="radio" name="options" value="Male" [(ngModel)]='selectedEmployee' (change)='OnSelectedRadioButton()'/>
        <span class="radioClass">{{"Male("+Male+"}"}}</span>
        
        <input type="radio" name="options" value="Female" [(ngModel)]='selectedEmployee' (change)='OnSelectedRadioButton()'/>
        <span class="radioClass">{{"Female("+Female+"}"}}</span>
            

      </tr>
      </thead>
      </table>
      </body>
      </html>
      